<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Планировщик рациона BACKEND</a>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            {{#if isHome}}
                <li class="tab active"><a href="/">Главная</a></li>
            {{else}}
                <li class="tab"><a href="/">Главная</a></li>
            {{/if}}

            {{#if isAuth}}
                {{#if isCreateDiet}}
                    <li class="tab active"><a href="/createDiet">Составить рацион</a></li>
                {{else}}
                    <li class="tab"><a href="/createDiet">Составить рацион</a></li>
                {{/if}}

                {{#if isRules}}
                    <li class="tab active"><a href="/rules">API</a></li>
                {{else}}
                    <li class="tab"><a href="/rules">API</a></li>
                {{/if}}
                <li class="tab"><a href="/auth/logout">Выйти</a></li>
            {{else}}
                {{#if isLogin}}
                    <li class="tab active"><a href="/auth/login#login">Войти</a></li>
                {{else}}
                    <li class="tab"><a href="/auth/login#login">Войти</a></li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</nav>